---
---

@import "{{ site.theme }}";

body {
	font-family: system-ui, sans-serif;
}

* {
	box-sizing: border-box;
}

header {
	font-family: "Microsoft JHengHei", system-ui, sans-serif;

	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 15px;
	}
}

#content-wrapper .inner {
	display: flex;
	flex-direction: column;
}

#main-content {
	// float: left;
	width: 100%;
	padding-right: 15px;
	@media (max-width: 960px) {
		padding-right: 0;
	}

	> h1:first-child {
		padding: 0px 10px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: system-ui, sans-serif;
	}

	h1,
	h2 {
		border-bottom: 1px solid #d6d6d6;
		margin-bottom: 10px;
	}

	h1 {
		font-size: 26px;
	}

	h4 {
		font-size: 18px;
	}
}

aside#sidebar {
	background: none;
	border-left: none !important;
	border-top: 1px dashed #b2b2b2;
	width: 100%;
	padding-top: 20px;
}
a.button {
	width: 202px;
	height: 80px;
}

@media (max-width: 960px) {
	#main-content h1 {
		text-indent: 0px;
	}
}

code {
	background: #ffdcdc;
	font-family: sans-serif;
	border: none;
	border-radius: 5px;
}

blockquote {
	margin: 0;
	padding: 15px;
	background: #ffffff;
	border-left-color: #03a9f4;
	margin-bottom: 20px;
	p:nth-last-child(1) {
		margin-bottom: 0;
	}
}
