---
---

@import "{{ site.theme }}";

body {
	font-family: system-ui, sans-serif;
}

* {
	box-sizing: border-box;
}

header {
	font-family: "Microsoft JHengHei", system-ui, sans-serif;

	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 15px;
	}
}

#content-wrapper .inner {
	display: flex;
	flex-direction: column;
}
.inner {
	width: calc(100% - 30px);
	max-width: 1040px;
}

#main-content {
	width: 100%;
	background: white;
	box-shadow: 0px 0px 20px rgba(black, 0.2);
	padding: 50px;
	border-radius: 20px;

	@media (max-width: 960px) {
		padding: 0;
		box-shadow: none;
		background: transparent;
		blockquote {
			background: #fff;
		}
	}

	> h1:first-child {
		padding: 0px 10px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: system-ui, sans-serif;
	}

	h1,
	h2 {
		border-bottom: 1px solid #d6d6d6;
		margin-bottom: 10px;
	}

	h1 {
		font-size: 26px;
	}

	h4 {
		font-size: 18px;
	}

	img {
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		max-width: 415px;

		@media (max-width: 960px) {
			max-width: 100%;
		}
	}
}

footer {
	background: none;
	border-left: none !important;
	// border-top: 1px dashed #b2b2b2;
	width: 100%;
	min-height: unset;
	padding: 20px 0;
	margin-top: 0;
	color: #666;
	a {
		color: #2879d0;
		&:hover {
			color: #2268b2;
		}
	}
}
a.button {
	width: 202px;
	height: 80px;
}

@media (max-width: 960px) {
	#main-content h1 {
		text-indent: 0px;
	}
}

code {
	background: #ffdcdc;
	font-family: sans-serif;
	border: none;
	border-radius: 5px;
}

blockquote {
	margin: 0;
	padding: 15px;
	background: white;
	border-left-color: #03a9f4;
	margin-bottom: 20px;
	p:nth-last-child(1) {
		margin-bottom: 0;
		// font-weight: bold;
	}
}

#main-content blockquote {
	background: #f9f9f9;
}
