<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

		<footer>
			<blockquote>
				<p>本站访问途径</p>

				<p>
					国内镜像站：<a href="https://dark495.cn">dark495.cn</a><br>
					国外Github Pages：<a href="https://fuckgod.me">fuckgod.me</a><br>
					Github项目地址：<a href="https://github.com/xlch88/pihua">https://github.com/xlch88/pihua</a>
				</p>

				<p>请您牢记Github项目 <code class="language-plaintext highlighter-rouge">xlch88/pihua</code> 以及域名 <code class="language-plaintext highlighter-rouge">fuckgod.me</code>，国内镜像站随时可能被和谐掉。</p>
				
				<center>
					<p><a href="https://beian.miit.gov.cn/" target="_blank">闽ICP备2025117830号-1</a></p>
				</center>
			</blockquote>
		</footer>
      </div>
    </div>
  </body>
</html>